html,
body {
  background-color: white;
  color: #333;
}

nav,
.navbar {
  background-color: black;
  color: #eee;
}

.navbar a.navbar-brand,
.navbar a.nav-link,
.navbar a.nav-link:visited {
  color: #eee;
}

.navbar a.nav-link:hover {
  background-color: rgb(50,80,220);
  color: #fff;
}


.cardPane {
  background-color: #eee;
  color: black;
}

.cardPaneLeft{
  border-right: 1px solid rgb(77,55,41);
}

.cardPaneRight{
  border-left: 1px solid rgb(77,55,41);
}

.centeralign{
  text-align: center;
}

footer{
    background-color: black;
    color:white;
    font-size:12px;
    font-family:sans-serif;
    padding: 12px;
    text-align: center;
}

#home-header2{
  font-size: 36px;
}

.patientCard {
  margin: 4px;
  padding: 4px 8px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: white;
}
.patientCard .birthDate{
  float: right;
}

.patientCard .lastName {
  font-weight:bold;
}

.triageCritical {
  border: 5px solid #C00;
  background-color: #fee;
  margin: 8px 4px;
}

.triageUrgent {
  border: 3px solid rgb(209,140,76);
  margin: 8px 4px;
}

.triageMinor {
  border: 3px solid rgb(50,80,220);
  margin: 8px 4px;
}

.tbackground {
  background: url("images/fire.jpeg") repeat;
  border: 1px solid black;
}

.transparentbox {
  margin: 40px;
  background-color: white;
  border: 1px solid black;
  opacity: 0.85;
  filter: alpha(opacity=60);
}

.tboxpad {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.hpadding{
    padding-top: 25px;
}

.home-header {
    font-size: 42px;
    font-family: sans-serif;
    text-align: center;
}

.home-paragraph {
    font-size: 18px;
    font-family: sans-serif
}

#member_table{
  position:relative;
  left: 50%;
}
#add_new_member_button{
  position:relative;
  left: 75%;
}

#profile_pic{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.profile{
  color: white;
  background-color: black;
  margin: 10px;
  position: relative;
  left: 20%;
  display: inline-block;
  width: 60%;
  height: 650px;
}


#profile_name{
  margin-left: 20px;
}

#profile_info{
  position:relative;
  left: 10%;
}

#update_profile_button{
  position:relative;
  margin-top: 10px;
  left: 75%;
}

.login{
  margin-right: auto;
  margin-left: auto;
  width: 300px;
}