<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles.css">

    <title>Profile Page</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md">
      <a class="navbar-brand" id="home-header2" href="index.html">OCFR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="current_members.html">Members</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="former_members.html">Former Members</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="certifications.html">Certifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="generate_report.html">Reports</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" id="memberDetail">
        <!-- <div class="row">
        <a id="profile_pic">
          <img v-bind:src="userThumbnail" width=128px; height=128px>
        </a>
        
        </div> -->



      <div v-for='i in memberData'>
      <h2>{{i.firstname}} {{i.lastname}}</h2><br>
      <h5>Position: {{ i.position }}</h5><br>
      <h5>Gender: {{i.gender}}</h5><br>
      <h5>DoB: {{i.date_of_birth}}</h5><br>
      <h5>Address: {{i.address_street}}</h5><br>
      <h5>Email: {{i.email}}</h5><br>
      <h5>Mobile Phone: {{i.mobile_phone}}</h5><br>
      <h5>Work Phone: {{i.work_phone}}</h5><br>
      <a href="editProfile.html">Edit Member</a><br><br>

      <div class="table">
        <table id="sortTable" class="table-bordered table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th>Certification Name</th>
              <th>Certification Agency</th>
              <th>Issued Date</th>
              <th>Expiration Period</th>
            </tr>
          </thead>
          <tbody class="itable">
            
            <tr v-for='i in memberCert'>
              <td>{{i.certification_name}}</td>
              <td>{{i.certifying_agency}}</td>
              <td>{{i.issued_date}}</td>
              <td>{{i.expiration_period}}</td>
            </tr>

          </tbody>
        </table>
      </div>
          <!-- <form id="update_profile_button">
            <button>Update Profile</button>
          </form> -->
    </div>
      

      <!-- Regenerate Random User By Button -->
      <!-- <button v-on:click="regenerate()">New User</button> -->
  </div>
  
    <!-- END content -->

    <!-- Footer? Insert here -->
    <footer> OCFR | Oconee County Fire Rescue | Oconee County, GA </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/memberDetail.app.js"></script>
  </body>
</html>
